{% extends 'base.html' %}

{% block content %}

        <!--box with the register-->
        <div class="center">
            <div class="box2">
                <form method="POST"> 
                    <h1>Register</h1>
                    <input type="text" placeholder="Name" name="nameform" class="my-input">
                    <input type="email" placeholder="E-mail" name="emailform" class="my-input">
                    <input type="password" placeholder="Password" name="passwordform" class="my-input" minlength="8" required>
                    <input type="password" placeholder="Confirm Password" name="confirmform" class="my-input" minlength="8" required>
                    <section class="content">
                        {% for message in get_flashed_messages() %}
                          <div class="flash">{{ message }}</div>
                        {% endfor %}
                    </section>
                    <input type="submit" value="Register" class="sub">
                </form>
            </div>
        </div>

{% endblock %}