<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GYM Notes</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
</head>
<body>
        <!--Title-->
        <div class="box1">
            <h1>GYM Notes</h1>
        </div>
        
        <div class="center">
            <div class="work">
                <input type="text" placeholder='WORKOUT' name="workout" class="title-notes">
                <input type="text" placeholder="exercise 1" name="exercise1" class="exercise">
                <input type="number" step="0.1" placeholder="kg" name="kg1" class="kg">
            </div>
        </div>


</body>
</html>