<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GYM Notes</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
</head>
<body>

    
        <!--Title-->
        <div class="box1">
            <h1>GYM Notes</h1>
        </div>
        

        <!--NOTES-->
        <form method="post">
            <section>
                <div class="center">
                    <div class="notes-week">
                        {% for number in numbers %}
                            {{ number }}.
                        <input type="text"
                                placeholder="Exercise"
                                name="exercise_{{ number }}"
                                class="exercise-imput">

                        <input type="number" min="0"
                                placeholder="Sets"
                                name="sets_{{ number }}"
                                class="box-imput">

                        <input type="number" min="0" step="0.5"
                                placeholder="KG"
                                name="kg_{{ number }}"
                                class="box-imput">

                        <input type="text"
                                 placeholder="Notes"
                                name="notes_{{ number }}"
                                class="notes-imput">

                        {% endfor %}
                        <button type="submit" class="sub-notes">Submit</button>
                    </div>
                </div>
            </section>
           
        </form>
</body>
</html>