<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    <title>GYM Notes</title>
</head>
<body>
    
        <!--Title-->
        <div class="box1">
            <h1>GYM Notes</h1>
        </div>  
        
        <div class="week">
            <h1>Monday</h1>
            <input type="text" placeholder='Wourkout' name="workout" class="title-notes">
            <input type="button" value="Submit/Select" class="sub-sel">
        </div>

        <div class="week">
            <p>Tuesday</p>
        </div>



</body>
</html>